<div class="side-nav-container">
  <div class="side-nav-header">
    <img src="/assets/mppkvvcl.png" alt="">
    <div class="header-title-container">
      <div class="title-container">
        <span class="title">Login Gateway</span>
      </div>
    </div>
  </div>
  <div class="side-nav-content" *ngIf="user">
    <div class="user-info">
      <div class="mt-3">
        <span class="info-item-title">{{ user.name }}</span>
      </div>
      <div class="mt-3">
        <span class="info-item-title">{{ user.location.name }}</span>
      </div>
    </div>

    <div class="nav-footer">
      <button mat-raised-button color="primary" class="generic-button nav-footer-button" (click)="logout()">Logout</button>
    </div>
  </div>
</div>