<div class="login-container">
  <div class="header-container">
    <span class="title">Login Gateway</span>    
  </div>
  <div class="form-container">
    <form class="text-center" [formGroup]="loginForm" (ngSubmit)="loginUser()">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Identification number</mat-label>
          <input matInput placeholder="Identification number" formControlName="identificationNumber" required>
          <mat-icon matSuffix>assignment_ind</mat-icon>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Security code</mat-label>
          <input matInput placeholder="Security code" [type]="hide ? 'password' : 'text'" formControlName="securityCode"
            autocomplete="off" required>
          <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="action-container">
        <div class="login-button-container">
          <button mat-raised-button color="primary" type="submit" class="generic-button">Login</button>
        </div>
        <div class="register-here-container">
          <a mat-raised-button color="primary" routerLink="/registration" class="register-here generic-button">Register here</a>
        </div>
      </div>
    </form>
  </div>
</div>