<div class="registration-container">
  <div class="header-container">
    <span class="title">Registration</span>
  </div>
  <div class="form-container">
    <form class="text-center" [formGroup]="registrationForm">
      <ng-container *ngIf="!(otpGenerated$ | async); else otpVerification">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Identification number</mat-label>
            <input matInput placeholder="Identification number" formControlName="identificationNumber" required>
            <mat-icon matSuffix>assignment_ind</mat-icon>
          </mat-form-field>
        </div>
        <div class="generate-otp-container">
          <button mat-raised-button type="button" class="generate-otp-button generic-button" color="primary"
            (click)="generateOtp()">Generate OTP
          </button>
        </div>
      </ng-container>
      <ng-template #otpVerification>
        <mat-form-field appearance="outline">
          <mat-label>Enter OTP</mat-label>
          <input matInput placeholder="OTP" formControlName="otp" required autocomplete="off">
          <mat-icon matSuffix>security</mat-icon>
        </mat-form-field>
        <div class="register-here-container">
          <button mat-raised-button class="register-button generic-button" type="button" color="primary"
            (click)="finalizeRegistration()">Register</button>
        </div>
      </ng-template>
    </form>
  </div>
</div>